<!DOCTYPE html>
<html>

<head>
  {% load staticfiles %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="yandex-verification" content="17f5d749cbafdb3e" />
    <title>Уборка квартир и коттеджкй в Зеленограде</title>
  <link rel="stylesheet" href="{% static 'front/libs/jquery.modal.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/libs/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/libs/jquery-ui.theme.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/css/app.min.css' %}">
  <link rel="stylesheet" href="{% static 'front/fonts/fonts.css' %}">
  {#      <link rel="stylesheet" href="{% static 'front/css/../../static/front/fonts/fonts.css' %}">#}
</head>

<body>
  <div class="page">
    <div class="background">
      <div class="background__image"></div>
    </div>
    <div class="main">
      <div class="gradient-background header">
        <div class="header__logo"><img src="{% static 'front/images/logo.svg' %}" alt="logo"></div>
        <div class="header__text">Клиннинговая компания в зеленограде</div>
      </div>
      <div class="poster">
        <div class="poster__image"><img src="{% static 'front/images/background_1024.png' %}" alt="background"></div>
        <div class="poster__text">Доверьте<br>чистоту в доме<br>профессионалам!</div>
      </div>
      <div class="calculator calculator_step1">
        <div class="calculator__header">
          <div class="calculator__title">Калькулятор уборки</div>
          <div class="calculator__navigation">
            <div class="calculator__step calculator__step-1">
              <div>Первый шаг</div>
            </div>
            <div class="calculator__step calculator__step-2">
              <div>Второй шаг</div>
            </div>
          </div>
        </div>
        <form class="calculator__form">
          {% csrf_token %}
          <div class="calculator__fieldset calculator__fieldset-1">
            <div class="calculator__field">
              <div class="calculator__field-label">Выберите услугу</div>
              <div class="custom-select" width="200px">
                <select required name="place">
                  <option value="0">Услуга</option>
                  {% for place in places  %}
                  <option value="{{place.id}}">{{place.name}}</option>
                  {%endfor%}
                </select>
              </div>
            </div>
            <div class="calculator__field">
              <div class="calculator__field-label">Выберите тип</div>
              <div class="custom-select" width="200px">
                <select required name="type">
                  <option value="0">Тип</option>
                  {% for type in types  %}
                  <option value="{{type.id}}">{{type.name}}</option>
                  {%endfor%}
                </select>
              </div>
            </div>
            <label class="calculator__field quantity">
              <div class="calculator__field-label">Укажите площадь в м&sup2;</div>
              <input class="input" name="area" placeholder="0" required>
            </label>
            <label class="calculator__field calculator__add-offers-button">
              <div class="calculator__field-label"></div><a class="input" href="#additional-offers"
                rel="modal:open">Дополнительные услуги</a>
            </label>
            <div class="calculator__checkbox-wrapper">
              <label class="checkbox">
                <input type="checkbox" checked="checked"><span class="checkbox__checkmark"></span>
              </label>
              <div class="calculator__checkbox-text">Использовать противоаллергенные средства для уборки</div>
            </div>
          </div>
          <div class="calculator__fieldset calculator__fieldset-2">
            <label class="calculator__field">
              <div class="calculator__field-label">Телефон</div>
              <input class="input" name="phone" placeholder="+7(   )" required>
            </label>
            <label class="calculator__field">
              <div class="calculator__field-label">Как к вам обращаться?</div>
              <input class="input" placeholder="Имя" name="name" required>
            </label>
            <label class="calculator__field">
              <div class="calculator__field-label">Укажите дату</div>
              <input class="input" type="text" name="date" required placeholder="дд.мм.гггг">
            </label>
            <div class="calculator__field">
              <div class="calculator__field-label">Укажите время</div>
              <div class="custom-select" width="200px">
                <select required name="time">
                  <option value="09:00">09:00</option>
                  <option value="11:00">11:00</option>
                  <option value="13:00">13:00</option>
                  <option value="15:00">15:00</option>
                </select>
              </div>
            </div>
            <label class="calculator__field">
                <div class="calculator__field-label">Укажите адрес</div>
                <input class="input" type="text" name="adress" required placeholder="">
              </label>
            <button class="calculator__form-submit-button" type="submit"></button>
          </div>
        </form>
        <div class="calculator__footer">
          <div class="calculator__total">Сумма:<span id="calulator__total__value">0</span><span>&#8381;</span></div>
          <div class="calculator__button">
            <button class="button" id="calculator__form-next">Далее</button>
            <button class="button" id="calculator__form-submit">Отправить заявку</button>
          </div>
        </div>
      </div>
      <div class="gradient-background footer">
        <div class="footer__group">
          <div class="footer__soc-links"><a class="footer__soc-link footer__telegram" href="#telegram"><img
                class="footer__soc-link-icon" src="{% static 'front/images/telegram.svg' %}"></a><a
              class="footer__soc-link footer__whatsapp" href="#whatsapp"><img class="footer__soc-link-icon"
                src="{% static 'front/images/whatsapp.svg' %}"></a><a class="footer__soc-link footer__viber"
              href="#viber"><img class="footer__soc-link-icon" src="{% static 'front/images/viber.svg' %}"></a></div><a
            class="footer__phone" href="tel:+79104918901">+7 (910) 491-89-01</a>
        </div>
{#        <a class="footer__instagram" href="instagram.com">#}
{#        <div class="footer__instagram-icon"><img src="{% static 'front/images/instagram.svg' %}"></div>#}
{#        <div class="footer__instagram-name">8055ru</div>#}
{#        </a>#}
      </div>
    </div>
  </div>
  <div class="additional-offers modal" id="additional-offers">
    <!--a(href="#" rel="modal:close") Close-->
    <div class="additional-offers__content">
      <div class="additional-offers__header">
        <div class="additional-offers__title">Выберите дополнительные услуги</div>
      </div>
      <div class="additional-offers__list-wrapper">
        <div class="additional-offers__list">
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Балкон (окна, пол, <br>стены)/п.м.</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">490 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Холодильник пустой<br>(без разморозки)/шт.</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">450 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Микроволновая<br>печь /шт.</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">450 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Духовка /шт.</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">490 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Жалюзи / окно</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">250 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Кухонная<br>вытяжка /шт.</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">490 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Чистка люстры<br>(хрусталь, стекло)<br>/∅ 0.5м</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">500 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Мытье посуды<br>30 мин.</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">350 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Мытье фасада /м2</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">80 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Химчистка мебели /<br>сидячее место</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">400 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Шторы /окно<br>(снять/повесить)</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">250 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Химчистка ковровых<br>покрытий /м2</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">200 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Мытье окон,<br>створка /шт.</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">250 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Мытье окон,<br>створка /шт.(глухие/<br>труднодоступные)</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">350 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
          <div class="additional-offers__item">
            <div class="additional-offers__item-title">Панорамные<br>окна /м2 (окна<br>в высоту стены)</div>
            <div class="additional-offers__item-group">
              <div class="additional-offers__item-price">300 &#8381;</div>
              <div class="additional-offers__item-quantity quantity">
                <button class="quantity__minus"><span>-</span></button>
                <input type="text" value-type="additional" value="0">
                <button class="quantity__plus"><span>+</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="additional-offers__footer">
        <div class="additional-offers__submit">
          <a href="#" class="button" rel="modal:close" style="display: block;">Готово</a>
        </div>
        <div class="additional-offers__total">Сумма:<span
            id="additional-offers__total_value">0</span><span>&#8381;</span></div>
      </div>
    </div>
  </div>
  <div id="ex1" class="modal">
    <p>Ваша заявка принята, спасибо за обращение.</p>
    <a href="#" rel="modal:close">Закрыть</a>
  </div>
  <script src="{% static 'front/libs/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'front/libs/jquery.modal.min.js' %}"></script>
  <script src="{% static 'front/libs/jquery.maskedinput.min.js' %}"></script>
  <script src="{% static 'front/libs/jquery-ui.min.js' %}"></script>
  <script src="{% static 'front/js/main.js' %}"></script>
</body>

</html>