.additional-offers {
  &.modal {
    width: auto;
    max-width: 90%;
    padding: 1.5rem 3rem;
    a.close-modal {
      top: -1.25rem;
      right: -1.25rem;
      width: 3rem;
      height: 3rem;
    }
  }
}
.blocker {
  overflow-x: hidden !important; // modal wrapper
}
.additional-offers__content {

}
/*
  ============================================================
  Header
  ============================================================
*/
.additional-offers__header {
  padding: 1em 0 2em 0;
}
.additional-offers__title {
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
}
/*
  ============================================================
  List
  ============================================================
*/
.additional-offers__list-wrapper {
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {

  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 0.2rem;
  }
}
.additional-offers__list {
  display: grid;
  grid-gap: 2rem;
  max-width: 100%;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  padding-left: 3rem;
  padding-right: 3rem;
}
.additional-offers__item {
  border: 0.2rem solid #dddede;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #000;
  font-weight: 700;
  text-align: center;
  padding: 1em 0.75em 0.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.additional-offers__item-title {
  margin-bottom: 1em;
}
.additional-offers__item-price {
  font-size: 2.2rem;
  margin-bottom: 0.25em;
}
.additional-offers__item-quantity {

}
/*
  ============================================================
  Footer
  ============================================================
*/
.additional-offers__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 2rem;
}
.additional-offers__submit {
  cursor: pointer;
}
.additional-offers__total {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  font-size: 2.5rem;
  font-weight: 700;
  color: #c9c8c8;
  span {
    color: #000;
    margin-left: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .additional-offers__list {
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
  }
  .additional-offers__list-wrapper {
    overflow-y: auto;
    max-height: 70vh;
  }
}
@media screen and (max-width: 1024px) {
  .additional-offers__list {
      grid-gap: 1rem;
  }
  .additional-offers__item {
    padding: 1em .5em .5em;
  }
}
@media screen and (max-width: 770px) {
  .additional-offers.modal {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .additional-offers__header {
    position: relative;
    padding-bottom: 4rem;
    &:after {
      content: '';
      position: absolute;
      width: 90%;
      height: 0.15rem;
      background: #dddede;
      left: 5%;
      top: calc(100% - 2rem);
    }
  }
  .additional-offers__list-wrapper {
    max-height: 60vh;
    position: relative;
  }
  .additional-offers__list {
    grid-template: repeat(8, 1fr) / repeat(2, 1fr);
  }
  .additional-offers__footer {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 4rem;
    &:after {
      content: '';
      position: absolute;
      width: 90%;
      height: 0.15rem;
      background: #dddede;
      left: 5%;
      bottom: calc(100% - 2rem);
    }
  }
  .additional-offers__total {
    position: static;
    transform: none;
  }
}
@media screen and (max-width: 550px) {
  .additional-offers.modal {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}