.background {
  width: 60%;
  position: relative;
}
.background__image {
  height: 100%;
  width: 100%;
  max-width: 100%;
  background: url('../images/background.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: contain;
}
.poster {
  display: none;
}
.poster__text {
  position: absolute;
  left: 47.5%;
  top: 12.5%;
  font-family: BebasNeueCyrillic;
  //font-size: 4rem;
  font-size: 6vw;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .background {
    width: 50%;
  }
  .background__image {
    background-image: url('../images/background_short.png');
  }
}
@media screen and (max-width: 1024px) {
  .background {
    display: none;
  }
  .poster {
    display: block;
    width: 100%;
    position: relative;
    img {
      height: 50vh;
    }
  }
}
@media screen and (max-width: 770px) {
  .poster {
    display: block;
    width: 100%;
    position: relative;
    img {
      height: 50vh;
    }
  }
}
@media screen and (max-width: 550px) {
  .poster img {
    height: 40vh;
  }
  .poster__text {
    left: 55%;
  }
}