.calculator {
  padding: 4rem 3rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &.calculator_step1 {
    .calculator__step-1 {
      font-weight: 700;
      color: #000;
      &:after {
        border-color: #bcd513;
      }
    }
  }
  &.calculator_step2 {
    .calculator__step-2 {
      font-weight: 700;
      color: #000;
      &:after {
        border-color: #bcd513;
      }
    }
    .calculator__fieldset-1 {
      display: none;
    }
    .calculator__fieldset-2 {
      display: grid;
    }
    #calculator__form-submit {
      display: block;
    }
    #calculator__form-next {
      display: none;
    }
  }
}
/*
  ============================================================
  Header
  ============================================================
*/
.calculator__header {
  margin-bottom: 6rem;
}
.calculator__title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-family: BebasNeueCyrillic;
  color: #c9c8c8;
  margin-bottom: 0.75em;
}
.calculator__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
.calculator__step {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-weight: 400;
  color: #c9c8c8;
  cursor: pointer;
  &:after {
    content: '';
    position: absolute;
    width: 80%;
    top: 125%;
    left: 10%;
    border-bottom: 0.3rem dashed #c9c8c8;
  }
}
/*
  ============================================================
  Form
  ============================================================
*/
.calculator__fieldset {
  display: grid;
  grid-gap: 3rem;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  .input__wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }
}
.calculator__fieldset-1 {

}
.calculator__fieldset-2 {
  display: none;
}
.calculator__field {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  > div:not(.custom-select) {
    margin-bottom: 0.5em;
    font-weight: 700;
  }
  input {
    width: 100%;
  }
}
.calculator__field input,
.select-selected,
.calculator__add-offers-button a {
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.calculator__add-offers-button {
  a {
    font-size: 1.8rem;
    color: #000;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}
.calculator__checkbox-wrapper {
  font-size: 1.8rem;
  grid-column: 1/3;
  display: flex;
  align-items: center;
  .checkbox {
    margin-right: 1rem;
  }
}
.calculator__form-submit-button {
  position: absolute;
  left: -9999px;
}
/*
  ============================================================
  Footer
  ============================================================
*/
.calculator__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
}
.calculator__total {
  font-size: 3.6rem;
  font-weight: 700;
  color: #c9c8c8;
  span {
    color: #000;
    margin-left: 0.5rem;
  }
}
.calculator__button {
  button {
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
  }
}
#calculator__form-submit {
  display: none;
}

@media screen and (max-width: 1200px) {
  .calculator__add-offers-button a {
    font-size: 1.4rem;
  }
  .calculator__field input,
  .select-selected,
  .calculator__add-offers-button a {
    height: 5rem;
  }
  .calculator__fieldset {
    grid-row-gap: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .calculator {
    height: auto;
    margin: auto 0;
  }
}
@media screen and (max-width: 770px) {
  .calculator__field-label {
    white-space: nowrap;
  }
}