.footer {
  background: #d9dada;
  &::before {
    background: #d9dada;
  }
  padding: 1rem 5rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__group {
  display: flex;
  align-items: center;
}
/*
  ============================================================
  Soc Links
  ============================================================
*/
.footer__soc-links {
  display: flex;
  align-items: center;
}
.footer__soc-link {
  font-size: 2rem;
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 1rem;
}
.footer__soc-link-icon {
  width: 1em;
}
.footer__telegram {
  background: #018ccd;
}
.footer__whatsapp {
  background: #2fb34b;
}
.footer__viber {
  background: #7d529e;
}
/*
  ============================================================
  Phone
  ============================================================
*/
.footer__phone {
  font-weight: 700;
  font-size: 1.8rem;
  color: #000;
  text-decoration: none;
}
/*
  ============================================================
  Instagram
  ============================================================
*/
.footer__instagram {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  color: #000;
  text-decoration: none;
}
.footer__instagram-icon {
  margin-right: 0.5rem;
  width: 4rem;
  img {
    width: 100%;
  }
}
.footer__instagram-name {
  font-weight: 700;
  font-size: 2.2rem;
}


@media screen and (max-width: 1200px) {
  .footer__phone {
    font-size: 1.6rem;
  }
}