.header {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
}
.header__logo {
  width: 15rem;
  img {
    width: 100%;
    margin-top: -1rem;
  }
}
.header__text {
  text-transform: uppercase;
  font-size: 1.8rem;
  margin-left: 1rem;
}