.main {
  width: 40%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .main {
    width: 100%;
    justify-content: normal;
  }
}
@media screen and (max-width: 770px) {

}