doctype html
html
  head
    include templates/head
  body
    include templates/blocks/custom-select
    - var RUB = '&#8381;';

    .page
        include templates/background
        include templates/main

    include templates/additional-offers

    include templates/footer-includes