@font-face {
    font-family: 'Circe';
    src: url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('fonts/Circe-ExtraBold.woff') format('woff'), url('fonts/Circe-ExtraBold.ttf')  format('truetype'), url('fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Circe';
    src: url('fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/Circe-Thin.woff') format('woff'), url('fonts/Circe-Thin.ttf')  format('truetype'), url('fonts/Circe-Thin.svg#Circe-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueBold.otf')  format('opentype'),
    url('fonts/BebasNeueBold.woff') format('woff'), url('fonts/BebasNeueBold.ttf')  format('truetype'), url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueLight.otf')  format('opentype'),
    url('fonts/BebasNeueLight.woff') format('woff'), url('fonts/BebasNeueLight.ttf')  format('truetype'), url('fonts/BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueRegular.otf')  format('opentype'),
    url('fonts/BebasNeueRegular.woff') format('woff'), url('fonts/BebasNeueRegular.ttf')  format('truetype'), url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeue-Thin.otf')  format('opentype'),
    url('fonts/BebasNeue-Thin.woff') format('woff'), url('fonts/BebasNeue-Thin.ttf')  format('truetype'), url('fonts/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeueCyrillic';
    src: url('fonts/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueCyrillic.woff') format('woff'), url('fonts/BebasNeueCyrillic.ttf')  format('truetype'), url('fonts/BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
}