*,
*:after,
*:before {
  box-sizing: border-box;
}
html {
  font-size: 0.60vw;
}
body {
  font-family: Circe, sans-serif;
  font-weight: 400;
  background:
          linear-gradient(to right top, #e2e2e2 0%, #e7e7e7 30%, #fff 50%),
          linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
}
input,
textarea,
a,
button {
  font-family: inherit;
}
.ui-datepicker {
  font-size: 1.6rem;
}
/*
  ============================================================
  Base
  ============================================================
*/
body {
  overflow-x: hidden;
}
.page {
  display: flex;
  min-height: 100vh;
}
.main {
  flex: 1;
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .page {
    flex-direction: column;
  }
  body {
    background: none;
  }
}
@media screen and (max-width: 770px) {

}
@media screen and (max-width: 550px) {
  html {
    font-size: 6px;
  }
}