.checkbox {
  cursor: pointer;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
    &:checked ~ .checkbox__checkmark {
      &:after {
        display: block;
      }
    }
  }
}
.checkbox__checkmark {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 0.2rem solid #d9dada;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: .3rem;
    top: .3rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #bcd513;
    display: none;
  }
}