.custom-select {
  font-size: 1.9rem;
  position: relative;
  select {
    display: none;
  }
}
.select-selected {
  border: 0.2rem solid #d9dada;
  border-radius: 0.4rem;
  background: #fff;
}
.select-selected__arrow {
  position: absolute;
  cursor: pointer;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
}
.select-items div,
.select-selected {
  color: #000;
  padding: .5em;
  cursor: pointer;
}
.select-items {
  position: absolute;
  background: #fff;
  border: 0.2rem solid #d9dada;
  border-radius: 0.4rem;
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: #bcd513;
}