.gradient-background {
  background: #bcd513;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10rem;
    height: 100%;
    width: 10rem;
    background: #bcd513;
    -webkit-mask-image: -webkit-gradient(linear, right top, left top,
            from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  }
}