.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  input {
    font-size: 1.6rem;
    width: 4em;
    text-align: center;
    border: 0.2rem solid #dddede;
    border-radius: 0.4rem;
    padding: 0.4em 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  button {
    width: 4rem;
    height: 4rem;
    background: #bcd513;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    cursor: pointer;

    position: relative;
    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.quantity__plus {
  span {
    margin-top: 0.3rem;
  }
}