
      @font-face {
          font-family: 'Circe';
      src: url('Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('Circe-ExtraBold.woff') format('woff'), url('Circe-ExtraBold.ttf')  format('truetype'), url('Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
      font-weight: 800;
      font-style: normal;
      }
      @font-face {
          font-family: 'Circe';
      src: url('Circe-Thin.eot?#iefix') format('embedded-opentype'),  url('Circe-Thin.woff') format('woff'), url('Circe-Thin.ttf')  format('truetype'), url('Circe-Thin.svg#Circe-Thin') format('svg');
      font-weight: 100;
      font-style: normal;
      }
      @font-face {
          font-family: 'BebasNeue';
      src: url('BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('BebasNeueBold.otf')  format('opentype'),
      url('BebasNeueBold.woff') format('woff'), url('BebasNeueBold.ttf')  format('truetype'), url('BebasNeueBold.svg#BebasNeueBold') format('svg');
      font-weight: 700;
      font-style: normal;
      }
      @font-face {
          font-family: 'BebasNeue';
      src: url('BebasNeueLight.eot?#iefix') format('embedded-opentype'),  url('BebasNeueLight.otf')  format('opentype'),
      url('BebasNeueLight.woff') format('woff'), url('BebasNeueLight.ttf')  format('truetype'), url('BebasNeueLight.svg#BebasNeueLight') format('svg');
      font-weight: 300;
      font-style: normal;
      }
      @font-face {
          font-family: 'BebasNeue';
      src: url('BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('BebasNeueRegular.otf')  format('opentype'),
      url('BebasNeueRegular.woff') format('woff'), url('BebasNeueRegular.ttf')  format('truetype'), url('BebasNeueRegular.svg#BebasNeueRegular') format('svg');
      font-weight: 400;
      font-style: normal;
      }
      @font-face {
          font-family: 'BebasNeue';
      src: url('BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),  url('BebasNeue-Thin.otf')  format('opentype'),
      url('BebasNeue-Thin.woff') format('woff'), url('BebasNeue-Thin.ttf')  format('truetype'), url('BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
      font-weight: 100;
      font-style: normal;
      }
      @font-face {
          font-family: 'BebasNeueCyrillic';
      src: url('BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),  url('BebasNeueCyrillic.woff') format('woff'), url('BebasNeueCyrillic.ttf')  format('truetype'), url('BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
      font-weight: normal;
      font-style: normal;
      }

      @font-face {
          font-family: 'Circe';
          src: url('Circe-Regular.eot?#iefix') format('embedded-opentype'), url('Circe-Regular.otf') format('opentype'),
          url('Circe-Regular.woff') format('woff'), url('Circe-Regular.ttf') format('truetype'), url('Circe-Regular.svg#Circe-Regular') format('svg');
          font-weight: 400;
          font-style: normal;
      }
      @font-face {
          font-family: 'Circe';
          src: url('Circe-Light.eot?#iefix') format('embedded-opentype'), url('Circe-Light.otf') format('opentype'),
          url('Circe-Light.woff') format('woff'), url('Circe-Light.ttf') format('truetype'), url('Circe-Light.svg#Circe-Light') format('svg');
          font-weight: 300;
          font-style: normal;
      }
      @font-face {
          font-family: 'Circe';
          src: url('Circe-ExtraLight.eot?#iefix') format('embedded-opentype'), url('Circe-ExtraLight.otf') format('opentype'),
          url('fCirce-ExtraLight.woff') format('woff'), url('Circe-ExtraLight.ttf') format('truetype'), url('Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
          font-weight: 200;
          font-style: normal;
      }
      @font-face {
          font-family: 'Circe';
          src: url('Circe-Bold.eot?#iefix') format('embedded-opentype'), url('Circe-Bold.otf') format('opentype'),
          url('Circe-Bold.woff') format('woff'), url('Circe-Bold.ttf') format('truetype'), url('Circe-Bold.svg#Circe-Bold') format('svg');
          font-weight: 700;
          font-style: normal;
      }
