.additional-offers.modal#additional-offers
    //a(href="#" rel="modal:close") Close
    .additional-offers__content
        .additional-offers__header
            .additional-offers__title Выберите дополнительные услуги
        .additional-offers__list-wrapper
            .additional-offers__list
                -
                    var items = [
                        {text: "Балкон (окна, пол, <br>стены)/п.м.", price: "490"},
                        {text: "Холодильник пустой<br>(без разморозки)/шт.", price: "450"},
                        {text: "Микроволновая<br>печь /шт.", price: "450"},
                        {text: "Духовка /шт.", price: "490"},
                        {text: "Жалюзи / окно", price: "250"},
                        {text: "Кухонная<br>вытяжка /шт.", price: "490"},
                        {text: "Чистка люстры<br>(хрусталь, стекло)<br>/∅ 0.5м", price: "500"},
                        {text: "Мытье посуды<br>30 мин.", price: "350"},
                        {text: "Мытье фасада /м2", price: "80"},
                        {text: "Химчистка мебели /<br>сидячее место", price: "400"},
                        {text: "Шторы /окно<br>(снять/повесить)", price: "250"},
                        {text: "Химчистка ковровых<br>покрытий /м2", price: "200"},
                        {text: "Мытье окон,<br>створка /шт.", price: "250"},
                        {text: "Мытье окон,<br>створка /шт.(глухие/<br>труднодоступные)", price: "350"},
                        {text: "Панорамные<br>окна /м2 (окна<br>в высоту стены)", price: "300"},
                    ]
                each item in items
                    .additional-offers__item
                        .additional-offers__item-title!= item.text
                        .additional-offers__item-group
                            .additional-offers__item-price!= item.price + " " + RUB
                            .additional-offers__item-quantity.quantity
                                button.quantity__minus
                                    span -
                                input(type="text", value="0")
                                button.quantity__plus
                                    span +
        .additional-offers__footer
            .additional-offers__submit
                button.button Готово
            .additional-offers__total
                | Сумма:
                span 0
                span &#8381;
