.calculator.calculator_step1
    .calculator__header
        .calculator__title Калькулятор уборки
        .calculator__navigation
            .calculator__step.calculator__step-1
                div Первый шаг
            .calculator__step.calculator__step-2
                div Второй шаг
    form.calculator__form
        .calculator__fieldset.calculator__fieldset-1
            div.calculator__field
                div.calculator__field-label Выберите услугу
                +customSelect(["Услуга", "Уборка квартир (без окон)", "Уборка коттеджей (без окон)", "Уборка коттеджей (включая окна)"])
            div.calculator__field
                div.calculator__field-label Выберите тип
                +customSelect(["Тип", "Поддерживающая", "Генеральная", "После ремонта"])
            label.calculator__field
                div.calculator__field-label Укажите площадь в м&sup2;
                input.input(name="area", placeholder!= "0", required)
            label.calculator__field.calculator__add-offers-button
                div.calculator__field-label
                a.input(href="#additional-offers", rel="modal:open") Дополнительные услуги
            .calculator__checkbox-wrapper
                label.checkbox
                    input(type="checkbox" checked="checked")
                    span.checkbox__checkmark
                .calculator__checkbox-text Использовать противоаллергенные средства для уборки
        .calculator__fieldset.calculator__fieldset-2
            label.calculator__field
                div.calculator__field-label Телефон
                input.input(name="phone", placeholder="+7(   )", required)
            label.calculator__field
                div.calculator__field-label Как к вам обращаться?
                input.input(placeholder="Имя", required)
            label.calculator__field
                div.calculator__field-label Укажите дату
                input.input(type="text", name="date", required, placeholder="дд.мм.гггг")
            div.calculator__field
                div.calculator__field-label Укажите время
                +customSelect(["09:00", "11:00", "13:00", "15:00"])
            button.calculator__form-submit-button(type="submit")
    .calculator__footer
        .calculator__total
            | Сумма:
            span 0
            span!= RUB
        .calculator__button
            button.button#calculator__form-next Далее
            button.button#calculator__form-submit Отправить заявку
