.gradient-background.footer
    .footer__group
        .footer__soc-links
            a.footer__soc-link.footer__telegram(href="#telegram")
                img.footer__soc-link-icon(src="images/telegram.svg")
            a.footer__soc-link.footer__whatsapp(href="#whatsapp")
                img.footer__soc-link-icon(src="images/whatsapp.svg")
            a.footer__soc-link.footer__viber(href="#viber")
                img.footer__soc-link-icon(src="images/viber.svg")
        a.footer__phone(href="tel:+74950000000") +7 (495) 000-00-00
    a.footer__instagram(href="instagram.com")
        .footer__instagram-icon
            img(src="images/instagram.svg")
        .footer__instagram-name 8055ru