meta(charset="utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Cleaning Site
include blocks/fonts
link(rel="stylesheet" href="libs/jquery.modal.min.css")
link(rel="stylesheet" href="libs/jquery-ui.min.css")
link(rel="stylesheet" href="libs/jquery-ui.theme.min.css")
link(rel="stylesheet" href="css/app.min.css")