.poster
    .poster__image
        img(src="images/background_1024.png", alt="background")
    .poster__text
        | Доверьте
        br
        | чистоту в доме
        br
        | профессионалам!