style(type="text/css").
    @font-face {
        font-family: 'Circe';
    src: url('fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('fonts/Circe-ExtraBold.woff') format('woff'), url('fonts/Circe-ExtraBold.ttf')  format('truetype'), url('fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    }
    @font-face {
        font-family: 'Circe';
    src: url('fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/Circe-Thin.woff') format('woff'), url('fonts/Circe-Thin.ttf')  format('truetype'), url('fonts/Circe-Thin.svg#Circe-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    }
    @font-face {
        font-family: 'BebasNeue';
    src: url('fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueBold.otf')  format('opentype'),
    url('fonts/BebasNeueBold.woff') format('woff'), url('fonts/BebasNeueBold.ttf')  format('truetype'), url('fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
    font-weight: 700;
    font-style: normal;
    }
    @font-face {
        font-family: 'BebasNeue';
    src: url('fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueLight.otf')  format('opentype'),
    url('fonts/BebasNeueLight.woff') format('woff'), url('fonts/BebasNeueLight.ttf')  format('truetype'), url('fonts/BebasNeueLight.svg#BebasNeueLight') format('svg');
    font-weight: 300;
    font-style: normal;
    }
    @font-face {
        font-family: 'BebasNeue';
    src: url('fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueRegular.otf')  format('opentype'),
    url('fonts/BebasNeueRegular.woff') format('woff'), url('fonts/BebasNeueRegular.ttf')  format('truetype'), url('fonts/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    }
    @font-face {
        font-family: 'BebasNeue';
    src: url('fonts/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeue-Thin.otf')  format('opentype'),
    url('fonts/BebasNeue-Thin.woff') format('woff'), url('fonts/BebasNeue-Thin.ttf')  format('truetype'), url('fonts/BebasNeue-Thin.svg#BebasNeue-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    }
    @font-face {
        font-family: 'BebasNeueCyrillic';
    src: url('fonts/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),  url('fonts/BebasNeueCyrillic.woff') format('woff'), url('fonts/BebasNeueCyrillic.ttf')  format('truetype'), url('fonts/BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
    }

    @font-face {
        font-family: 'Circe';
        src: url('fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-Regular.otf') format('opentype'),
        url('fonts/Circe-Regular.woff') format('woff'), url('fonts/Circe-Regular.ttf') format('truetype'), url('fonts/Circe-Regular.svg#Circe-Regular') format('svg');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Circe';
        src: url('fonts/Circe-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-Light.otf') format('opentype'),
        url('fonts/Circe-Light.woff') format('woff'), url('fonts/Circe-Light.ttf') format('truetype'), url('fonts/Circe-Light.svg#Circe-Light') format('svg');
        font-weight: 300;
        font-style: normal;
    }
    @font-face {
        font-family: 'Circe';
        src: url('fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-ExtraLight.otf') format('opentype'),
        url('fonts/Circe-ExtraLight.woff') format('woff'), url('fonts/Circe-ExtraLight.ttf') format('truetype'), url('fonts/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: 'Circe';
        src: url('fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Circe-Bold.otf') format('opentype'),
        url('fonts/Circe-Bold.woff') format('woff'), url('fonts/Circe-Bold.ttf') format('truetype'), url('fonts/Circe-Bold.svg#Circe-Bold') format('svg');
        font-weight: 700;
        font-style: normal;
    }
